body {
	font-family: Helvetica;
	text-align: center;
}
.bg_image {
	background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
	color: white;
}
.main {
	color: dimgray;
}
h1 {
	font-size: 70px;
	font-weight: bold;
}
h2 {
	font-size: 32px;
	font-weight: bold;
}
h3 {
	font-size: 23px;
	font-weight: bold;
}
a {
	color: white;
	font-size: 18px;
}
#footer {
	font-size: 11px;
	text-align: left;
	background-color: dimgray;
	color: white;
}